<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>エサ</title>
</head>
<body>
<style>
.center {
  text-align: center;
}
.center * {
  margin-right: auto;
  margin-left: auto;
}
</style>
 <div class="center">
{% load static %}
<p>
<h1>エサ</h1><br>
  <a href="#anker1">海釣りで使われるエサ</a><br>
  <a href="#anker2">川、湖で使われるエサ</a><br>
  <a href="#anker3">その他</a><br>
   <h2 id="anker1">海釣りで使われるエサ</h2>
    <img src="{% static 'assets/img/24677625_s.jpg' %}"><br>
    <b>イソメ類</b><br>
    海釣りで最もポピュラーなエサ。価格もお手頃でいろいろな魚が狙える。ただし見た目が気持ち悪くミミズの上位互換。アオイソメが一番多く使われている。<br>
    <img src="{% static 'assets/img/3433841_s.jpg' %}"><br>
    <b>アミ類</b><br>
    アミエビなど小さいエビのような見た目をしていてサビキ釣りで小さ目の魚を狙う時などに使ったりするものや、オキアミなど幅広い魚種に対応するものもあります。見た目がエビなので触りやすい。<br>
    <img src="{% static 'assets/img/crab-g79b706b7f_640.jpg' %}"><br>
    <b>貝、カニ</b><br>
    釣具屋さんに売っている物もあれば、磯など、釣り場にいる貝やカニを捕まえてそのままエサにする現地調達ができるエサでもある。貝は殻ごと付けたり、殻を石で割ったりしてむき身で使う。<br>
    <img src="{% static 'assets/img/23549075_s.jpg' %}"><br>
    <b>魚</b><br>
    大きな魚を釣るときには、その魚が食べる小さな魚をエサとして使うことがあります(泳がせ釣り)。代表的な物としては、アジ、ウグイなどがあげられます。また、タチウオの特攻エサとしてドジョウが使われていたりもします。<br>
    <img src="{% static 'assets/img/4921366_s.jpg' %}"><br>
    <b>魚の切り身</b><br>
    釣具屋に売っているものもありますがスーパーで売っている魚の切り身でOK。皮つきで、身質がかたいものがエサもちが良くてオススメ。<br>
    <img src="{% static 'assets/img/24704051_s.jpg' %}"><br>
    <b>ルアー</b><br>
    小魚の形を模した、金属でできたハードルアーと、イソメなど虫エサの形を模したソフトルアーがあります。使いまわしができて手も汚れない。ただ生きエサよりも若干釣れづらくなる。<br>

    <br>
    <h2 id="anker2">川、湖で使われるエサ</h2>
    <img src="{% static 'assets/img/5176893_s.jpg' %}"><br>
    <b>ミミズ類</b><br>
    川上流から河口、湖沼まで使われる万能エサです。自分で採取するもよし、釣具屋で売っているのでそれを買うのもよし。<br>
    <img src="{% static 'assets/img/24873161_s.jpg' %}"><br>
    <b>幼虫類</b><br>
    サシ(ハエの幼虫)や赤虫(ユスリカの幼虫)、ブドウ虫(ブドウの木にいる害虫)などがあり狙う魚によって様々な種類がある。
    例：ワカサギ＝サシ、小魚＝赤虫、マス類＝ブドウ虫など
    <img src="{% static 'assets/img/22014812_s.jpg' %}"><br>
    <b>水生昆虫</b><br>
    川底の石の裏についていることの多い虫。上流や中流域にいることが多く、そこにいる魚が普段から食している物なので釣果が期待できる。<br>

   <h2 id="anker3">その他</h2>
   <b>コーン・カキ・ウニ・海藻・パン・人口エサ</b><br>
   釣りたい魚によって様々なエサがあるし人や地域によって使うエサも違ってくる。自分なりのエサを探すのも楽しみの一つ。

</p>
 </div>
</body>
</html>