{% extends 'base.html' %}
{% load static %}

{% block title %}釣果投稿 | OnikasaGO{% endblock %}

{% block active_oniokoze_list %}active{% endblock %}

{% block contents %}
<div class = "container my-div-style">
  <div class = "row">
    <form method = "POST" enctype = 'multipart/form-data'>
      {% csrf_token %}
      {% for result_form in formset %}
                {{ result_form.as_p }}
      {% endfor %}
      <table class = "table">
        {{form.as_table}}
      </table>
      <button class = "btn btn-primary" type = "submit">作成</button>

</div>
{% endblock %}
