{% extends 'base.html' %}
{% load static %}

{% block title %}釣果詳細 | OnikasaGO{% endblock %}

{% block active_object_list %}active{% endblock %}
<head><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script></head>
{% block contents %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<div class="container my-div-style">
  <div class="row">

    <div class="col-3">
      <strong>釣果タイトル</strong>
    </div>
    <div class="col-9">
      {{object.nametitle}}　<!--魚種名の表示-->
    </div>

    <hr>


    <div class="row">
      <div class="col-3">
        <strong>写真</strong>
      </div>
      <div class="col-3">
        {% if object.photo1 %}　<!--写真があれば表示-->
          <img src="{{ object.photo1.url }}" width="200" height="200"/>

        {% endif %}
      </div>
      <div class="col-3">
        {% if object.photo2 %} <!--写真があれば表示-->
          <img src="{{object.photo2.url}}" width="200" height="200"/>
        {% endif %}
      </div>
      <div class="col-3">
        {% if object.photo3 %} <!--写真があれば表示-->
          <img src="{{object.photo3.url}}" width="200" height="200"/>
        {% endif %}
      </div>
      <div class="col-3">
        {% if object.photo4 %} <!--写真があれば表示-->
          <img src="{{object.photo4.url}}" width="200" height="200"/>
        {% endif %}
      </div>
      <div class="col-3">
        {% if object.photo5 %} <!--写真があれば表示-->
          <img src="{{object.photo5.url}}" width="200" height="200"/>
        {% endif %}
      </div>


    </div>

    <hr>

    <div class="col-9">
      {{object.name}}　<!--魚種名の表示-->
    </div>

    <hr>

    <div class="row">
      <div class="col-3">
        <strong>場所</strong>
      </div>
      <div class="col-9">
        {{object.capital}}<!--場所の表示-->
        {{object.city}}
        {{object.address}}

      </div>
    </div>

    <hr>
        <div class="row">
      <div class="col-3">
        <strong>ロケーション</strong>
      </div>
      <div class="col-9">
        {{object.location}}<!--サイズの表示-->
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-3">
        <strong>その他</strong>
      </div>
      <div class="col-9">
        {{object.free}}<!--自由記入の表示-->

      </div>
    </div>
    <div class="card-header">
          {% if is_user_liked_for_catch %}
            <button type="button" id="ajax-like-for-catch" style="border:none;background:none">
                <!-- すでにイイねしている時はfasクラス -->
                <i class="fas fa-heart text-danger" id="like-for-catch-icon"></i>
            </button>
            {% else %}
            <button type="button" id="ajax-like-for-catch" style="border:none;background:none">
                <!-- イイねしていないときはfarクラス -->
                <i class="far fa-heart text-danger" id="like-for-catch-icon"></i>
            </button>
            {% endif %}
            <!-- イイねの数 -->
            <span id="like-for-catch-count">{{ like_for_catch_count }}</span>
            <span>件のイイね</span>
        </div>
           <a class="btn btn-success mt-5 　mb-3" href="{% url 'oniokoze:catch_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'oniokoze:catch_delete' object.pk %}">削除</a>
  </div>
  <a class="btn btn-secondary ml-2" href="{% url 'oniokoze:catch_list' %}">キャンセル</a>
          <div class="row mb-5">
            <div class="col-2">
                <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#testModal">魚一覧</button>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" data-toggle="modal" data-target="#testModal">リンクボタンで開く</a>
            </div>
        </div>
</div>
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>class="modal-title" id="myModalLabel">魚一覧画面</h4></h4>
      </div>
      <div class="modal-body">
        <label>データを削除しますか？</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-danger">削除</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
     /* ポストに対するイイね */
  document.getElementById('ajax-like-for-catch').addEventListener('click', e => {
    /* ログインしていない場合はログインページへ */
    if ("{{ user.is_authenticated }}"=="False"){
      window.location.href='{% url "oniokoze:index" %}'
    }
    e.preventDefault();
    const url = '{% url "oniokoze:like_for_catch" %}';
    fetch(url, {
      method: 'POST',
      body: `catch_pk={{catch.pk}}`,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': '{{ csrf_token }}',
      },
    }).then(response => {
      return response.json();
    }).then(response => {
      const counter = document.getElementById('like-for-catch-count')
      const icon = document.getElementById('like-for-catch-icon')
      counter.textContent = response.like_for_catch_count
      if (response.method == 'create') {
        icon.classList.remove('far')
        icon.classList.add('fas')
        icon.id = 'like-for-catch-icon'
      } else {
        icon.classList.remove('fas')
        icon.classList.add('far')
        icon.id = 'like-for-catch-icon'
      }
    }).catch(error => {
      console.log(error);
    });
  });
</script>
{% endblock %}