<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>危険な生き物</title>
</head>
<body>
<style>
.center {
  text-align: center;
}
.center * {
  margin-right: auto;
  margin-left: auto;
}
h1 {
    font-size: 80px;
    background-color: #F3F3F3;
}
h2 {
    font-size: 60px;
    background-color: #F3F3F3;
}
h3 {
    font-size: 40px;
    background-color: #F3F3F3;
}
</style>
 <div class="center">
<p>
<h1>危険な生き物</h1>
・知らない生き物は触らないこと、食べないこと。<br>
日本の川、海には魚だけで3,000種、ほかの生き物は数万種もの生き物がいるといわれていて、毒を持っている生き物も少なくありません。<br>
基本的に見たことがない知らない魚が釣れた場合には、触ったり食べたりしない方が無難です。<br>
・釣り場では放置された魚を目にすることも多く、毒魚の場合は死んでも毒がなくなるわけではありません。<br>
子供たちが触ってしまったり、踏んで靴の上から刺されてしまったりする2こともあるので、十分気を付けましょう。<br>
<br>
<h2>触ると危険な生き物</h2>
<br>

{% load static %}
     <h3>ハオコゼ</h3>
     <img src="{% static 'assets/img/24433789_s.jpg' %}"><br>
全国に広く分布し毒を持つ魚でトップクラスに釣れる魚です。<br>
背びれのとげに毒があるので釣れたら触らずリリースしましょう<br>

     <h3>ゴンズイ</h3>
     <img src="{% static 'assets/img/932741_s.jpg' %}"><br>
こちらも広く分布していて特に夜釣りでよく釣れる魚です。<br>
背びれと胸びれに毒のあるとげを持っています。<br>

          <h3>ミノカサゴ</h3>
     <img src="{% static 'assets/img/25136601_s.jpg' %}"><br>
防波堤などで良く見かけるカサゴの仲間。<br>
長い胸ビレをなびかせながら泳ぐ姿は優雅で美しく、観賞魚としての人気も非常に高いですが、 その一方で背ビレと尻ビレ、腹ビレに猛毒のトゲを持っています。<br>
刺されると激しい痛みと腫れ、しびれ、知覚麻痺、発熱や悪心・嘔吐、下痢等が起こり、ひどい場合には死亡する場合さえあります。<br>
なお、長く綺麗な胸ビレは無毒です。<br>

          <h3>アイゴ</h3>
     <img src="{% static 'assets/img/25080306_s.jpg' %}"><br>
広い分布域を持ち、特に内湾域に多いアイゴは雑食性が強く、サビキやウキ釣りなど何にでも釣れてきます。<br>
多くの毒魚と同じく､背ビレ、腹ビレ、尻ビレに多くの毒針を持ち、刺されると激痛が起こり腫れ上がってしまいます。<br>
<br>
          <h3>アカエイ</h3>
     <img src="{% static 'assets/img/25502919_s.jpg' %}"><br>
日本全国に分布し、内湾から外洋に面した海岸まで広く分布するエイ。砂地や泥地を主な生息地としており、投げ釣り・ルアー釣り等にしばしば釣れてくる魚です。<br>
アカエイは尾ビレにカエシの付いた大きな毒トゲを持ち、刺されると強烈に痛みます。症状としては失神、筋力低下、悪心、嘔吐、下痢、発汗、全身痙攣、呼吸窮迫等。死亡例も少なくありません。<br>
また針がノコギリ状なので、皮膚がすっぱりと切れて大きな切り傷を負う場合も。毒トゲの破片が刺し傷内に残ることもあり、素人療法は危険。速やかに医療機関に行くべきです。<br>
<br>
     <h3>海毛虫</h3>
     <img src="{% static 'assets/img/25319274_s.jpg' %}"><br>
海底にすむゴカイの仲間で活発に海底で餌をあさるため、しばしば投げ釣りの仕掛けに食いついてきます。<br>
そもそもあまり触りたくないグロテスクな見た目なので手に取る人は少ないが、誤って接触すると体表の鋭い毛が皮膚に刺さります。<br>
毛に刺されると強いかゆみに加えてミミズ腫れが起こり、時には1週間以上も続くことも。皮膚に刺さった毛はガムテープなどを使って取るとうまく除去できます。<br>
かゆみには一般の軟膏タイプのかゆみ止めが効果がありますが、ただれてしまった場合にはステロイド系軟膏が有効です。<br>
<br>
          <h3>クラゲ類</h3>
     <img src="{% static 'assets/img/25403703_s.jpg' %}"><br>
代表種はカツオノエボシ、アカクラゲ、アンドンクラゲなど。釣りで針に掛かる事は少ないですが､しばしば目にすることの多い生きものです。<br>
見かけは可愛いのですが、強い毒がある種も少なくありません。中でもカツオノエボシは電気クラゲの異名もある毒クラゲで、特に注意が必要です。<br>
カツオノエボシの出現は初夏頃、アカクラゲは夏頃、アンドンクラゲはお盆以降によく見かけます。また、岸際に打ち上がっているものでも毒性は残っているので要注意。<br>
クラゲの毒は、毒針で刺す毒であり、強いものでは人を死に至らしめる程の力があります。刺されると、ピリピリした痛みや腫れに伴ってじんましん、呼吸困難や激しい動悸などが起こり、最悪の場合ショック症状を引き起こす事があります。<br>
刺された場合にはすぐに皮膚に張り付いた触手を取り除き、落ち着いて海水で洗いましょう（水道水は逆効果の場合があるので注意が必要）。<br>
砂や布などでこするのは刺胞毒を広げてしまうので逆効果です。抗ヒスタミン軟膏などが効果がありますが、症状が強い場合は医者にかかることをお勧めします。<br>
酢をつけるという民間療法もありますが、酢に反応して刺すクラゲも存在し、その場合は逆効果となってしまいます。<br>
<br>
          <h3>ヒョウモンダコ</h3>
     <img src="{% static 'assets/img/883936_s.jpg' %}"><br>
ヒョウモンダコは頭の大きさが大人の親指ほどの小型のタコで、外海に面した暖かい海に生息しています。普通のタコとの見分け方は体を覆う鮮やかな青い斑点。<br>
数がそう多くないので釣り針にかかってくる事はあまりありませんが、咬まれると猛毒が注入され、死亡例も少なくありません。<br>
毒はフグと同じテトロドトキシン。ヒョウモンダコの毒は咬まれると危険な毒と言われていましたが、最近の研究で肉や内臓にも毒が含まれている事が判明、食べることも厳禁とされています。<br>
子ども達にとっては可愛い遊び相手かもしれませんが､手に乗せて咬まれることも多いので近づかないのが懸命です。<br>
かつては沖縄など暖かい地方の生きものでしたが、温暖化や海水温の上昇に伴い、近年は本州での採集例も多く報告されています。温暖な地域でなくても注意しておく必要があります。<br>
<br>
          <h3>フグ</h3>
     <img src="{% static 'assets/img/24255080_s.jpg' %}"><br>
餌取りの代表・フグの仲間は極めて広い分布域を持ち、岩場から砂地までどこにでも暮らしています。釣り方もサビキで釣れたり、投げ釣りで釣れたりと神出鬼没。<br>
種類によって毒のある部位は違うが、多くは皮膚、内臓、血液等にフグ毒テトロドトキシンがあり、加熱しても無毒化できません。<br>
食べると全身麻痺、嘔吐、知覚麻痺や言語障害、呼吸困難を感じ、血圧の低下から意識消失、呼吸停止ののち死に至ります。<br>
動物を食べて起こる食中毒死のうち、実に98％がフグを食べたことによるもの。素人料理は絶対避けるべき魚です。<br>
治療は、まず救急で医療施設に運ぶことが先決ですが、死に至る直接的な原因は筋肉の麻痺による呼吸困難。したがって、運搬中の人工呼吸が効果があるとされています。<br>
<br>
          <h3>ソウシハギ</h3>
     <img src="{% static 'assets/img/25516153_s.jpg' %}"><br>

大型のハギの仲間。一見するとウマヅラハギの様にも見えますが､体表に青い文様と黒点が散在し、尾鰭が大変長い事で容易に区別できます。<br>
温暖化に伴い生息域を拡大していて、船での釣りはもとより防波堤でも釣れる事があります。<br>
<br>
     <h3>ウツボ</h3>
     <img src="{% static 'assets/img/25532055_s.jpg' %}"><br>
毒はないけど、歯が鋭く噛みつかれると指が持っていかれることもあります。
</p>
 </div>
</body>
</html>