
{% extends 'base.html' %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block header%}
<div class="masthead">
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>マイページ</h1>
            <table>
            <tr>
                <div>
                    {% if user.photo %}
                    <td><h2><img src="{{ user.photo.url }}" class="circle" /></h2></td>
                    {% else %}
                    <td><h2><img src="{% static 'assets/img/bobi.png' %}" class="circle" /></h2></td>
                    {% endif %}
                </div>
                <div>
                    <td>
                        <h2>
                            {% if user.is_authenticated %}
                            <p>{{ user.get_username }}</p>
                            {% else %}
                            <p>ログインしていません</p>
                            {% endif %}
                        </h2>
                    </td>
                </div>
            </tr>
        </table>
        <a href="{% url 'oniokoze:mypage_detail' user.pk %}" class="btn btn-primary btn-xl rounded-pill mt-5" >ユーザー情報</a>
             <div class="tabbox">
                 <input type="radio" name="tabset" id="tabcheck1" checked><label for="tabcheck1" class="tab">　　　　　　　　　　　　　　　マイ投稿　　　　　　　　　　　　　　　　</label>
                 <input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab">　　　　　　　　　　　　　　　マイいいね　　　　　　　　　　　　　　　</label>
                 <div class="tabcontent" id="tabcontent1">
                     <div class="col-auto my-1">
                         <select class="form-control" id="sample" onchange="viewChange();">
                             <option value="select1">釣果</option>
                             <option value="select2">レシピ</option>
                         </select>
                     </div>
                     <div class="col-auto my-5">
                         <div id="Box1" class="my-5">
                             <p><a href="{% url 'oniokoze:mycatch_list' %}" class="btn btn-primary btn-xl rounded-pill mt-5" >釣果</a></p>
                         </div>
                         <div id="Box2" class="my-5" style="display:none;">
                             <p><a href="{% url 'oniokoze:myrecipe_list' %}" class="btn btn-primary btn-xl rounded-pill mt-5" >レシピ</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="tabcontent" id="tabcontent2">
                     <div class="col-auto my-1">
                         <select class="form-control" id="sample2" onchange="viewChange2();">
                             <option value="select3">釣り場</option>
                             <option value="select4">釣果</option>
                             <option value="select5">レシピ</option>
                         </select>
                     </div>
                     <div class="col-auto my-5">
                         <div id="Box3" class="my-5">
                             <p><a href="{% url 'oniokoze:myspot_like' %}" class="btn btn-primary btn-xl rounded-pill mt-5" >釣り場</a></p>
                         </div>
                         <div id="Box4" class="my-5" style="display:none;">
                             <p><a href="{% url 'oniokoze:mycatch_like' %}" class="btn btn-primary btn-xl rounded-pill mt-5" >釣果</a></p>
                         </div>
                         <div id="Box5" class="my-5" style="display:none;">
                             <p><a href="{% url 'oniokoze:myrecipe_like' %}" class="btn btn-primary btn-xl rounded-pill mt-5" >レシピ</a></p>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
</div>


{% endblock %}


