{% extends 'base.html' %}
{% load static %}

{% block title %}釣果一覧|OnikasaGO{% endblock %}

{% block active_recipe_list %}active{% endblock %}

{% block head %}
<link href="#" rel="stylesheet">
{% endblock %}

{% block contents %}

<script src="https://cdn.jsdelivr.net/npm/vue-star@0.0.4/dist/VueStar.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">

<link href="css/select2.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/ja.js"></script> <!-- ←日本語化ファイルを読み込み -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<div class="container px-4 px-lg-5 my-div-style">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div id="recipesearch">
            <div class="wrapper">
    <h1>複数条件での絞り込み検索 実装例</h1>
    <!-- 絞込み検索UI start -->
    <div class="search_area">
      <form id="selectForm">
        <div class="search_ui category_search_box">
          <label class="checkbox_margin">
            <input type="radio" name="q" value="調理" class="radio_input">
            <span class="radio_parts padding_adjust1">調理</span></label>
          <label class="checkbox_margin">
            <input type="radio" name="q" value="豆知識" class="radio_input">
            <span class="radio_parts padding_adjust1">豆知識</span></label>
          <label class="checkbox_margin">
            <input type="radio" name="q" value="処理" class="radio_input">
            <span class="radio_parts padding_adjust1">処理</span></label>
          <label class="checkbox_margin">
            <input type="radio" name="q" value="" checked="checked" class="radio_input" id="allItem">
            <span class="radio_parts padding_adjust1">全てのジャンル</span></label>
        </div>
          <div class="search_ui size_search_box pc">
              <form class="d-flex" action="{% url 'oniokoze:recipe_list' %}" method="get">
                  <input name="p" value="" placeholder="Search" aria-label="Search">
                  <a>分類: </a>
                  <button type="submit">検索</button>
              </form>
            </div>
      </form>
    </div>
    <!-- 絞込み検索UI end -->
    <!-- 絞り込み対象一覧 end -->


        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary float-right" href="{% url 'oniokoze:recipe_create' %}">新規作成</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="my-div-style w-100">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="clearfix">
                          {% for recipe in recipe_list %}<!--Recipeモデルが持つデータを繰り返しで表示する-->
                          <div class="post-preview">
                    <!--        idにあったデータの詳細画面を表示するリンクの表示-->
                            <a href="{% url 'oniokoze:recipe_detail' recipe.pk %}">
                                <h2 class="post-title">
                                    {{recipe.title}}<!--            魚種名の表示-->
                                </h2>
                                <h2>
                                    {{recipe.method}}<!--            魚種名の表示-->
                                </h2>
                                {% if recipe.titlephoto%}
                                <h3>
                                    {{recipe.titlephoto}}<!--              場所の表示-->
                                </h3>
                                {% elif recipe.titlemovie %}
                                <h3>
                                    {{recipe.titlemovie}}<!--              場所の表示-->
                                </h3>
                                {% endif %}
                            </a>
                          </div>
                            <hr class="my-4">
                            {% empty %}　<!--何もなかった場合の処理-->
                            <p>日記がありません。</p>
                            {% endfor %} <!--繰り返し処理の終了部分-->
                            <!--ページネーション処理-->
                            {% if is_paginated %}
                            <ul class="pagination">
                                <!--前ページへのリンク-->
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                <!--ページ数表示-->
                                {% for page_num in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{page_num}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_num}}">
                                        {{page_num}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <!--次ページへのリンク-->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.next_page_number}}">
                                        <span aria-hidden="true">&raquo</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                            <script>
                                let searchUi = ".search_ui"; // 絞り込み検索条件設定エリア
                                let listItem = ".item"; // 検索対象アイテム
                                let hideItem = "hide_item"; // 対象外アイテムに付与されるclass名
                                let checkBox = 'input[name="size"]'; //チェックボックスのnameを指定

                                // 絞り込み条件の変更
                                $(function () {
                                  $(document).on("change", searchUi + " input", function () {
                                    search_filter();
                                  });
                                });

                                function search_filter() {
                                  // 非表示状態を解除
                                  $(listItem).removeClass(hideItem);
                                  for (let i = 0; i < $(searchUi).length; i++) {
                                    let name = $(searchUi).eq(i).find("input").attr("name");
                                    // チェックされた検索条件を取得
                                    let searchData = get_selected_input_items(name);
                                    // チェック項目無し or 全てを選択している場合
                                    if (searchData.length === 0 || searchData[0] === "") {
                                      continue;
                                    }
                                    // リスト内の各アイテムをチェック
                                    for (let j = 0; j < $(listItem).length; j++) {
                                      // アイテムに設定している項目を取得
                                      let itemData = get_setting_values_in_item($(listItem).eq(j), name);
                                      // 絞り込み対象かどうかを調べる
                                      let check = array_match_check(itemData, searchData);
                                      if (!check) {
                                        $(listItem).eq(j).addClass(hideItem);
                                      }
                                    }
                                  }
                                }

                                // チェックの入った値の一覧を取得する
                                function get_selected_input_items(name) {
                                  let searchData = [];
                                  $("[name=" + name + "]:checked").each(function () {
                                    searchData.push($(this).val());
                                  });
                                  return searchData;
                                }

                                // リスト内のアイテムに設定している値の一覧を取得する
                                function get_setting_values_in_item(target, data) {
                                  let itemData = target.data(data);
                                  if (!Array.isArray(itemData)) {
                                    itemData = [itemData];
                                  }
                                  return itemData;
                                }

                                // 2つの配列内で一致する文字列があるかどうかを調べる
                                function array_match_check(arr1, arr2) {
                                  // 絞り込み対象かどうかを調べる
                                  let arrCheck = false;
                                  for (let i = 0; i < arr1.length; i++) {
                                    if (arr2.indexOf(arr1[i]) >= 0) {
                                      arrCheck = true;
                                      break;
                                    }
                                  }
                                  return arrCheck;
                                }


                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}


