{% extends 'base.html' %}
{% load static %}

{% block title %}釣り場一覧|OnikasaGO{% endblock %}

{% block active_spot_list %}active{% endblock %}


{% block header %}
<div class="masthead">
    <div class="container">
            <div class="row">
                <div class="my-div-style">

                    <h1>釣り場</h1>
                     <form method="GET" action="{% url 'oniokoze:spot_list' %}">
                         <label>釣り場名から検索:</label><br>
                         <input type="text" name="keyword" placeholder="釣り場名"><br>
                    {% for field in form %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label>都道府県を選択</label>
                                {{ field }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>市区町村を選択</label>
                                    <select id="id_city" class="form-control" name="city">
                                        <option value="-----">市区町村を選択</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <label>ロケーション:</label>
                        <select></select>
                    </div>
                           {% endfor %}
                         <input type="checkbox" name="">初心者おすすめ</input><br>
                         <button class="btn btn-primary" type="submit">検索</button>
                     </form>
                </div>
            </div>
    </div>
</div>

{% endblock %}

{% block contents %}
<div class="masthead2">
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{% url 'oniokoze:spot_create' %}">新規作成</a>
                </div>
                {% for spot in spot_list %}
                    <div class="post-preview">
                        <a href="{% url 'oniokoze:spot_detail' spot.pk %}">
                          <h2 class="post-title">
                              {{ spot.place }}
                          </h2>
                          <h3 class="post-subtitle">
                              {{ spot.capital }}
                              {{ spot.city }}
                              {{ spot.address }}
                          </h3>
                        </a>
                        <p class="post-meta">
                            {{ spot.created_at }}
                        </p>
                    </div>
                    <hr>
                {% empty %}
                    <p>日記がありません。</p>
                {% endfor %}

                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true"></span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $("#id_prefecture").change(function () {
        var prefecture = $(this).val();
        $.ajax({
            type: "POST",
            url: "{% url 'oniokoze:get-prefecture' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'prefecture': prefecture
            },2
            success: function (data) {
                console.log(data.prefectures);
                let html_data = '<option value="-----">市区町村を選択</option>';
                data.prefectures.forEach(function (data) {
                    html_data += `<option value="${data}">${data}</option>`
                });
                $("#id_city").html(html_data);
            }
        });
    });
</script>
{% endblock %}