{% extends 'base.html' %}
{% load static %}

{% block title %}トリビア{% endblock %}

{% block header%}
<style>
.example{
    display: inline-block;
}
.example img{
    display: block;
}
<!--h1{-->
<!--  color:#000000-->
<!--}-->
<!--h3{-->
<!--  color:#000000-->
<!--}-->
<!--a{-->
<!--  color:#000000-->
<!--}-->
h5{
color:#000000
}
a{
  text-align: center
}
ul {
  display: flex;
  margin: auto;
}
li{
display: inline;
list-style: none;
  margin: auto;

}


</style>


</a>
<header>
    <div class="masthead">
        <div class="container">
             <div class="row">
                 <div class="my-div-style">
                     <h2><br></h2>
                     <h1>トリビア</h1>
                 </div>

<!--             <li width:33%>-->
             <ul>
             <li><a href="{% url 'oniokoze:tool' %}"><img width="300" src="{% static 'assets/img/道具.png' %}"><h5>道具</h5></a>
             </li>
<!--             </li>-->
<!--             <li width:33%>-->
             <li><a href="{% url 'oniokoze:manners' %}"><img width="300" src="{% static 'assets/img/マナー.png' %}"><h5>マナー</h5></a>
             </li>
<!--             </li>-->
<!--             <li width:33%>-->

             <li><a href="{% url 'oniokoze:bait' %}"><img width="300" src="{% static 'assets/img/エサ.png' %}"><h5>エサ</h5></a>
             </li>
             </ul>

<!--             </li>-->

<!--             <li width:33%>-->

             <ul>
             <li><a href="{% url 'oniokoze:fishing_method' %}"><img width="300" src="{% static 'assets/img/釣り方.png' %}"><h5>釣り方</h5></a>
             </li>
<!--             </li>-->
<!--             <li width:33%>-->
             <li><a href="{% url 'oniokoze:dangerous_creature' %}"><img width="300" src="{% static 'assets/img/危険な生き物.png' %}"><h5>危険な生き物</h5></a>
             </li>
<!--             </li>-->
<!--             <li width:33%>-->
             <li><a href="{% url 'oniokoze:place' %}"><img width="300" src="{% static 'assets/img/危険場所.png' %}"><h5>危険な場所</h5></a>
            </li>
             </ul>
<!--             </li>-->


             </div>
        </div>
    </div>
</header>


{% endblock %}

