body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
    background-image: linear-gradient(90deg, rgba(57, 210, 248, 0.5), rgba(48, 97, 96, 0.4));
footer {
    margin-top: auto;
}

#mainNav{

 font-size: 3rem;
  color: #fff;
  text-shadow: 3px 3px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}
#mainNav:activ{

 background-color: #000;
}
.my-div-style {
    margin-top:6rem;
}

.date {
      width: 80%;
    margin: 0 auto;
}

.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label{
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}



/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box .hidden_hide {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.hidden_box input:checked ~ .hidden_hide {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.add{
margin-right: 0px;
}

#app .VueStar {
      position: relative;
    }
    .VueStar__icon .fa {
      font-size: 3em;
      cursor: pointer;
    }


.test1{

    counter-reset: rank;
    list-style-type: none

    }
.test1 li {
        margin-left: 1em;
        position: relative;
      }


.test1 li::before {

    counter-increment: rank;
    content: counter(rank) " 位";
    position: absolute;
    padding: 8px 14px;
    font-size: 1.2em;
    color: #fff; /* 文字色 */
    background: rgba(0,0,0,0.8); /* 背景色 */

    }
.test1 img { /* 画像のスタイル */
        width: 350px;
        height: 200px;
        object-fit: cover;
}
.test2{

    counter-reset: rank;
    list-style-type: none

    }
.test2 li {

        position: relative;
      }


.test2 li::before {

    counter-increment: rank;
    content: counter(rank) " 位";
    position: absolute;
    padding: 8px 14px;
    font-size: 1.2em;
    color: #fff; /* 文字色 */
    background: rgba(0,0,0,0.8); /* 背景色 */

    }
.test2 img { /* 画像のスタイル */
        width: 350px;
        height: 200px;
        object-fit: cover;
}

.circle {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
    .circle-1 {
      object-position: 0 0;
    }
    .circle-2 {
      object-position: -60px 0;
    }
    .circle {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: cover;
}
.circle-1 {
        object-position: 0 0;
}
.circle-2 {
        object-position: -60px 0;
}
.example2 a{
        display: block;
        padding: 10px;
        background: #f2f2f2;
        border: 1px solid #999;
        color: #333;
        width: 200px;
        /*コレ*/margin-left: auto;
        text-align: center;
    }
    .example2{
        padding: 10px;

        margin-top:10px;
    }
    .tab {
        display: inline-block;          /* インラインブロック化 */
        border-width: 1px 1px 0px 1px;  /* 上側と左右に枠線を引く */
        border-style: solid;            /* 枠線の種類は「実線」 */
        border-color: black;            /* 枠線の色は「黒」 */
        border-radius: 0.75em 0.75em 0px 0px;  /* 左上と右上の角だけを丸くする */
        padding: 0.75em 1em;            /* 内側の余白量 */
        font-weight: bold;              /* タブの文字を太字にする */
        color: black;                   /* タブの文字色：黒色 */
        background-color: #e0e0e0;      /* タブの(非選択状態の)背景色：灰色 */
     }

     /* ▼タブ機能の掲載領域の装飾(※必須ではありません) */
   .tabbox { margin: 0px; padding: 1em; background-color: #f8f8ff; }

   /* ▼タブ機能を制御するラジオボタン(非表示にする) */
   .tabbox input { display: none; }

   /* ▼タブ(共通装飾＋非選択状態の装飾) */
   .tab {
      display: inline-block;
      border-width: 1px 1px 0px 1px;
      border-style: solid;
      border-color: black;
      border-radius: 0.75em 0.75em 0px 0px;
      padding: 0.75em 1em;
      color: black;
      background-color: #e0e0e0;
      font-weight: bold;
   }

   /* ▼タブにマウスポインタが載った際の装飾 */
   .tab:hover {
      background-color: #ccffcc;
      color: green;
      cursor: pointer;
   }

   /* ▼チェックが入っているラジオボタンの隣にあるタブの装飾(＝選択状態のタブ) */
   input:checked + .tab {
      color: red;
      background-color: #ffffcc;
      position: relative;
      z-index: 10;
   }

   /* ▼タブの中身(共通装飾＋非選択状態の装飾) */
   .tabcontent {
      display: none;
      border: 1px solid black;
      margin-top: -1px;
      padding: 1em;
      position: relative;
      z-index: 0;
      background-color: #ffffcc;
   }

   /* ▼チェックが入っているラジオボタンに対応するタブの中身を表示する */
   #tabcheck1:checked ~ #tabcontent1 { display: block; }
   #tabcheck2:checked ~ #tabcontent2 { display: block; }

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.copyright {
  background-color: #1a252f;
}

