body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top:6rem;
}

.date {
      width: 80%;
    margin: 0 auto;
}

.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label{
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}



/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box .hidden_hide {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.hidden_box input:checked ~ .hidden_hide {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.add{
margin-right: 0px;
}


.test1{

    counter-reset: rank;
    list-style-type: none

    }
.test1 li {
        margin-left: 1em;
        position: relative;
      }


.test1 li::before {

    counter-increment: rank;
    content: counter(rank) " 位";
    position: absolute;
    padding: 8px 14px;
    font-size: 1.2em;
    color: #fff; /* 文字色 */
    background: rgba(0,0,0,0.8); /* 背景色 */

    }
.test1 img { /* 画像のスタイル */
        width: 350px;
        height: 200px;
        object-fit: cover;
}
.test2{

    counter-reset: rank;
    list-style-type: none

    }
.test2 li {

        position: relative;
      }


.test2 li::before {

    counter-increment: rank;
    content: counter(rank) " 位";
    position: absolute;
    padding: 8px 14px;
    font-size: 1.2em;
    color: #fff; /* 文字色 */
    background: rgba(0,0,0,0.8); /* 背景色 */

    }
.test2 img { /* 画像のスタイル */
        width: 350px;
        height: 200px;
        object-fit: cover;
}
